*{
    margin: auto;
    padding: auto;
    /* font-size: large; */
}
div{
    position: sticky;
    top: -30px;
    z-index: 1;
}
h4{
    font-size: larger;
}

nav{
    background-color: black;
    color: white;
    padding: 25px;
    font: larger;
    
}  
h4,li,ul{
    display: inline;
    padding: 5px;
   /* position: sticky; */
}
nav a{
    text-decoration: none;
    color: white;
    font-size: large;
    margin: 0 15px;
}
nav ul{
    margin-left: 50%;
}
nav ul li:hover{
    background-color: gray;
    border-radius: 10px;
    transition: 1s all;
   
}
h2 {
    text-align: center;
    font-size: xx-large;
    text-decoration: underline;
}  
#about{
    text-align: center;
    font-size: large;
    background-color: gray;
    padding: 30px;
    
}
#skills{
    text-align: center;
    font-size: large;
    background-color: lightblue;
    padding: 30px; 
    
}
#skills ol {
    list-style: none;
}
#skills ul{
    list-style: none;
}
#projects{
    text-align: center;
    font-size: large;
    background-color: blueviolet;
    text-decoration: underline;
     padding: 30px;
}
#gallery{
    text-align: center;
    font-size: large;
    background-color: lightgreen;
    text-decoration: underline;
    padding: 30px;
}
#contact{
    text-align: center;
    font-size: large;
    background-color: rgb(5, 38, 252);
    color: white;
}
#contact a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: large;
    margin: 0 15px;
}
#contact a:hover{
    color: rgb(255, 0, 0);
}
footer{
    text-align: center;
    font-size: large;
    background-color: black;
    color: white;
    padding: 10px;
    width: 100%;
    height: 100px;
}
.btn{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    box-shadow: 5px 0px 18px #ff0000;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    color: red;
}
footer p{
    text-align: center;
}